@import vars

.bottom-bar
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 0
  width: 100%
  transition-duration: $animation-speed

  &.unrolled
    height: $bottom-bar-height

  .row
    display: flex
    flex-direction: row

    .panel
      display: flex
      flex-direction: row
      margin-left: 15px
      margin-right: 15px
      &.hidden
        display: none
