@import vars

.mag-forces-panel
  position: absolute
  left: 609px
  top: 119px
  width: 193px
  height: 84px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: $font-size-button
  color: $color-army-light
  transition-duration: $animation-speed
  &:hover
    cursor: pointer
  &:hover .icon.force-options-back2
    opacity: 1
  &:hover .icon.force-options-back1
    opacity: 1
  &:hover .icon.lock-closed
    opacity: 1
  &:hover .icon.lock-open
    opacity: 1
  &:hover .title
    opacity: 1
  &:hover .right-label
    opacity: 1
  &:hover .switch-button
    opacity: 1

  .icon
    position: absolute
    transition-duration: $animation-speed
    &.force-options-back2
      fill: $color-army-light
      fill-opacity: .5
      opacity: .25
      left: 0
      top: 0
      width: 193px
      height: 84px
    &.force-options-back1
      fill: $color-army
      opacity: .25
      left: 0px
      top: 0px
      width: 193px
      height: 84px
    &.lock-closed
      fill: $color-army-light
      opacity: .25
      width: 10px
      height: 12px
      top: 50px
    &.lock-open
      fill: $color-seaweed
      opacity: .25
      width: 14px
      height: 12px
      top: 50px

  .vertical-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &.full
      position: absolute
      width: 183px
      height: 74px
      top: 5px
      left: 5px

  .title
    opacity: .25
    text-align: center
    width: 100%
    font-size: 16px
    transition-duration: $animation-speed

  .horizontal-container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: left
    width: 100%

  .right-label
    font-size: 15px
    margin: $internal-component-margin
    margin-bottom: 4px
    color: $color-seaweed
    opacity: .25
    transition-duration: $animation-speed
    width: 100%
    &.enabled
      color: $color-army-light
    &.lock-open
      font-size: 9px
      margin-left: 18px
      margin-top: 0
    &.lock-closed
      font-size: 9px
      color: $color-army-light
      margin-left: 15px
      margin-top: 0