//
// general settings
//

$animation-speed: 500ms

$component-margin: 3px
$internal-component-margin: 2px
$double-component-margin: $component-margin * 2
$triple-component-margin: $component-margin * 3
$component-padding: 3px
$double-component-padding: $component-padding * 2
$triple-component-padding: $component-padding * 3
$component-border-width: 3px
$component-border-radius: 8px

//
// fonts
//
$font-stack-poppins: Poppins, sans-serif
$font-stack-averia: Averia Sans Libre, cursive
$font-stack: Arial, Helvetica, sans-serif
$font-size-button: 18px
$font-size-header: 14px
$font-size-normal: 12px
$font-size-label1: 11px
$font-size-label2: 10px
$font-size-label3: 9px

//
// colors
//
$color-black: #000000
$color-white: #ffffff
$color-red: #ff0000
$color-yellow: #ffff00
$color-blue: #0000ff
$color-olive: #999966
$color-olive-dark2: #262619
$color-olive-dark: #57593D
$color-olive-light: #BCBD88
$color-olive-dark-text: #4E4E34
$color-button-gray: #666666
$color-button-hover-gray: #D8D8D8

$component-bgcolor: $color-white
$main-content-bgcolor: $color-black
$main-content-color: $color-white

//
// top bar
//
$top-bar-height: 105px
$top-bar-bgcolor: $color-black
$top-bar-color: $color-olive-dark
$top-bar-curtain-bgcolor: $color-olive

//
// bottom bar
//
$bottom-bar-height: 300px
$button-bgcolor: $color-olive-dark2
$color-button: $color-olive-dark-text
$color-button-hover: $color-olive
